<div>



  <p>2 - BITCOIN - ETHEREUM</p>
  <p>{{montoTotalETH}}</p>



  <p>WALLETS</p>

  <div style="display: flex; flexDirection: row;">
    <div *ngFor="let wallet of allWallets">
      <wallet [wallet]="wallet.wallet" [name]="wallet.name" [eth]="wallet.eth" [btc]="wallet.btc">
      </wallet>
    </div>
  </div>

  <p>TRANSACCIONES</p>

  <div style="display: flex; flexDirection: row;">
    <div *ngFor="let tran of allTransac">
      <transaction [date]="tran.date" [from]="tran.from" [to]="tran.to" [quantity]="tran.quantity"
        [moneyType]="tran.moneyType" [mineType]="tran.mineType" [miner]="tran.miner" (mine)="mine()">
      </transaction>
    </div>
  </div>




</div>