<p>2 - BITCOIN - ETHEREUM</p>
<p>WALLETS</p>

<div style="position:fixed; right:10px; top:2px; background-color:cyan;">
  Total ETH: {{total('eth')}}
  TOTAL BTC: {{total('btc')}}
</div>

<div *ngIf="transactionStatus()">
  THERE ARE NOT TRANSACTIONS
</div>

<div style="display: flex; flex-direction: row">
  <div *ngFor="let wallet of wallets">
    <app-wallet [data]="wallet">

    </app-wallet>
  </div>
</div>

<p>TRANSACTIONS</p>

<div style="display: flex; flex-direction: row;">
  <div *ngFor="let transaction of transactions; let i = index;">

    <app-transaction [data]="transaction">
      <button [disabled]="transaction.mineType === 'PoS' && transaction.miner < 20" (click)="mine()"> Mine</button>

    </app-transaction>
  </div>
</div> 