<div *ngIf="everybodyVaccinated()">EVERYBODY VACCINATED</div>


<p>VACCINATED TOTAL: {{ totalVaccinated(0) }}</p>

<div style="display: flex; flex-direction: row">
  <div *ngFor="let person of vaccinated">
    <app-vaccinated [data]="person"> </app-vaccinated>
  </div>
</div>



<p>NOT VACCINATED TOTAL: {{ totalVaccinated(1) }}</p>

<div style="display: flex">
  <div *ngFor="let person of unVaccinated">
    <app-un-vaccinated [data]="person">
      <button
        [disabled]="person.disease === true || person.age < 12"
        (click)="vaccine(person)"
      >
        Vaccinate
      </button>
    </app-un-vaccinated>
  </div>
</div>